@mixin hamburger-line {
    width: 100%;
    height: 2px;
    background-color: $secondary-font-color;
    position: absolute;

}

@mixin app-setup {
    overflow-x: hidden;
    height: 100vh;
    font-family: $primary-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100vw;
}