@mixin hamburger-line {
    width: 100%;
    height: 2px;
    background-color: $secondary-font-color;
    position: absolute;

}

@mixin app-setup {
    color: $primary-font-color;

    font-family: $mono-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
}